@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    .container {
        font-family: 'Rajdhani', sans-serif;
        margin-left: 240px;
        height: 90vh;
    }

    .fondo-container {
        position: relative;
      }
      
      .fondo-imagen {
        position: absolute;
        top: 110%;
        left: 0;
        width: 35%;
        height: 100%;
        margin-left: 50px;
        margin-top: 80px !important;
        background-size: cover;
        background-position: center;
        z-index: 1; 
        border-radius: 5rem;
      }
      

    .text-main-tecnologias {
        margin-left: 550px;
        margin-bottom: 35px;
        font-size: 60px;
        text-align: start !important;
    }

    .strong-class {
        color: #30cfd0; 
        background-image: -webkit-linear-gradient(15deg,  #330867 44%, #30cfd0 66%);
        background-clip: text;
        -webkit-background-clip: text; 
        text-emphasis-color: transparent; 
        -webkit-text-fill-color: transparent 
    }

    .responsive-about {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1px;
        margin-left: 23px !important;
      }
      
      .icons-media {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top:10px;
        gap: 1px;
        margin-left: 553px;
      }

    .responsive-about  p {
        margin-bottom: 0;
     }
         
    .btn-cv {
            background-image: linear-gradient(to right, #330867  11%, #30cfd0   66%);
            border: 1px solid white;
            margin: 10px;
            padding: 7px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
            margin-left: 10px;
        }

     .btn-cv:hover {
            background-position: right center;
            color: #000000;
            text-decoration: none;
        }
         
        
        .skills {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1px;     
            width: 85%;
        }
          
          .skills div {
            text-align: center;
            font-size: 18px;
          }

          .idiomas {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;     
            width: 85%;
        }
          
          .idiomas div {
            text-align: center;
            font-size: 20px;
          }


          .responsive-about {
                display: flex;
                align-items: center;
                justify-content: start;
                margin-top: 10px;
                gap: 1px;
                margin-left: 553px; 
          }

        @media only screen and (min-width: 1500px) and (max-width: 2000px) {
          
          .fondo-imagen {
            position: absolute;
            top: 110%;
            left: 0;
            width: 35%;
            height: 100%;
            margin-left: 50px;
            margin-top: 20px;
            background-size: cover;
            background-position: center;
            z-index: 1; 
            border-radius: 5rem;
          }
          
    
        .text-main-tecnologias {
            margin-left: 620px;
            margin-bottom: 35px;
            font-size: 60px !important;
            text-align: center!important;
        }
    
        .strong-class {
            color: #30cfd0; 
            background-image: -webkit-linear-gradient(15deg,  #330867 44%, #30cfd0 66%);
            background-clip: text;
            -webkit-background-clip: text; 
            text-emphasis-color: transparent; 
            -webkit-text-fill-color: transparent 
        }
    
        .responsive-about {
            display: flex;
            align-items: center;
            justify-content: center !important;
            gap: 1px;
            margin-left: 03px !important;
          }
          
          .icons-media {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:10px;
            gap: 1px;
            margin-left: 1px !important;
          }
    
        .responsive-about  p {
            margin-bottom: 0;
         }
    
         .text-about {
            width: 500px !important;
            margin-top: 20px;
            margin-left: 470px !important;
         }
             
        .btn-cv {
                background-image: linear-gradient(to right, #330867  11%, #30cfd0   66%);
                border: 1px solid white;
                margin: 10px;
                padding: 7px 40px !important;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;            
                border-radius: 10px;
                display: block;
                margin-left: 10px;
            }
    
         .btn-cv:hover {
                background-position: right center;
                color: #000000;
                text-decoration: none;
            }
             
            .text-hability {
              margin-top: 20px;
              margin-left: 480px;
              font-size: 32px !important;
            }
            
            .skills {
                display: grid;
                grid-template-columns: repeat(4, 1fr) !important;
                grid-gap: 0px;     
                width: 85%;
                margin-left: 210px !important;
                padding-left: 250px;
                padding-right: 250px;
            }
              
              .skills div {
                text-align: center;
                font-size: 22px;
              }
    
              .idiomas {
                gap: 1px !important;
                padding-right: 220px !important;
                padding-left: 260px !important;
                margin: 0;
                margin-left: 180px !important;
            }
              
              .idiomas div {
                text-align: center;
                font-size: 22px;
              }
    
          }

          @media only screen and (min-width: 1399px) and (max-width: 1499px) {
            .fondo-imagen {
                position: absolute;
                top: 100%;
                left: 0;
                width: 35%;
                height: 100%;
                margin-left: 50px;
                margin-top: 30px;
                background-size: cover;
                background-position: center;
                z-index: 1; 
              }
    
              .container {
                display: flex;
                flex-direction: column;
              }
    
              .tecnologias-container {
                position: relative;
                left: -20px !important;
                top: 70px;
                margin-right: 150px !important;
                margin-bottom: 50px;
              }
              
              .text-main-tecnologias {
                font-size: 65px !important;
                width: 100%;
              }
    
              .responsive-about {
                margin: 0 !important;
              }
               
              .icons-media {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                gap: 5px !important;
                margin-left: 250px !important;
                margin-bottom: 20px;
                padding: 0;
              }
    
              .icons-media p {
                font-size: 40px !important;
                margin-right: 10px;
              }
              
              .icons-media svg {
                font-size: 30px !important;
              }

              .btn-cv {
                margin: 10px;
                padding: 12px 65px !important; 
            }
              
            .text-about {
              font-size: 24px !important;
              text-align: center;
              width: 550px !important;
              margin-top: 20px;
              margin-bottom: 40px;
              margin-left: calc((100% - 330px) / 2);
            }
    
    
            .text-hability {
              margin-left: 450px !important;
              font-size: 30px !important;
            }

            .content-texts {
              margin-left: 0px !important;
            }

              .skills  {
                display: grid;
                margin-left: 140px !important;
                grid-template-columns: repeat(3, 1fr) !important;
                padding-left: 260px;
                padding-right: 150px; 
            }
  
            .skills div {
              font-size: 27px !important;
          }
    
            .idiomas {
                gap: 1px !important;
                padding-right: 220px !important;
                padding-left: 260px !important;
                margin: 0;
                margin-left: 180px !important;
            }

            .idiomas div {
              font-size: 27px !important;
          }
        }

          @media only screen and (min-width: 1204px) and (max-width: 1398px) {
            .fondo-imagen {
                position: absolute;
                top: 100%;
                left: 0;
                width: 35%;
                height: 100%;
                margin-left: 50px;
                margin-top: 30px;
                background-size: cover;
                background-position: center;
                z-index: 1; 
              }
    
              .container {
                display: flex;
                flex-direction: column;
              }
    
              .tecnologias-container {
                position: relative;
                left: -330px !important;
                top: 70px;
                margin-right: 150px !important;
                margin-bottom: 50px;
              }
              
              .text-main-tecnologias {
                font-size: 55px !important;
                width: 100%;
              }
    
              .responsive-about {
                margin: 0 !important;
              }
               
              .icons-media {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                gap: 5px !important;
                margin-left: -52px !important;
                margin-bottom: 20px;
                padding: 0;
              }
    
              .icons-media p {
                font-size: 30px !important;
              }

              .btn-cv {
                margin: 10px;
                padding: 8px 45px !important; 
            }
              
            .text-about {
              font-size: 19px !important;
              text-align: center;
              width: 450px !important;
              margin-left: calc((100% - 450px) / 2) !important;
            }
    
    
            .text-hability {
              margin-left: 275px !important;
            }

            .content-texts {
              margin-left: 0px !important;
            }

              .skills  {
                display: grid;
                margin-left: 20px !important;
                grid-template-columns: repeat(3, 1fr) !important;
                padding-left: 260px;
                padding-right: 150px; 
            }
  
            .skills div {
              font-size: 23px !important;
          }
    
            .idiomas {
                gap: 1px !important;
                padding-right: 220px !important;
                padding-left: 260px !important;
                margin: 0;
                margin-left: 50px !important;
                font-size: 10px !important;
            }

            .idiomas div {
              font-size: 21px !important;
          }
          .btn {
            margin-top: 200px;
          }
        }

          @media only screen and (min-width: 997px) and (max-width: 1203px) {
            .fondo-imagen {
                position: absolute;
                top: 100%;
                left: 0;
                width: 35%;
                height: 100%;
                margin-left: 50px;
                margin-top: 30px;
                background-size: cover;
                background-position: center;
                z-index: 1; 
              }
    
              .container {
                display: flex;
                flex-direction: column;
              }
    
              .tecnologias-container {
                position: relative;
                left: -420px !important;
                top: 70px;
                margin-right: 150px !important;
                margin-bottom: 50px;
              }
              
              .text-main-tecnologias {
                font-size: 55px !important;
                width: 100%;
              }
    
              .responsive-about {
                margin: 0 !important;
              }
               
              .icons-media {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                gap: 5px !important;
                margin-left: -42px !important;
                margin-bottom: 20px;
                padding: 0;
              }
    
              .icons-media p {
                font-size: 30px !important;
              }

              .btn-cv {
                margin: 10px;
                padding: 8px 45px !important; 
            }
              
            .text-about {
              font-size: 23px !important;
              text-align: center;
              width: 450px !important;
              margin-left: calc((100% - 450px) / 2) !important;
            }
    
    
            .text-hability {
              margin-left: 200px !important;
            }

            .content-texts {
              margin-left: 0px !important;
            }

              .skills  {
                display: grid;
                margin-left: 20px !important;
                grid-template-columns: repeat(3, 1fr) !important;
                padding-left: 180px;
                padding-right: 100px; 
            }
  
            .skills div {
              font-size: 23px !important;
          }
    
            .idiomas {
                gap: 1px !important;
                padding-right: 200px !important;
                padding-left: 200px !important;
                margin: 0;
                margin-left: 50px !important;
                font-size: 10px !important;
            }

            .idiomas div {
              font-size: 21px !important;
          }
          
          .btn {
            margin-top: 150px;
          }
        }



          @media only screen and (min-width: 705px) and (max-width: 996px) {
            .fondo-imagen {
                position: absolute;
                top: 100%;
                left: 0;
                width: 35%;
                height: 100%;
                margin-left: 50px;
                margin-top: 30px;
                background-size: cover;
                background-position: center;
                z-index: 1; 
              }
    
              .container {
                display: flex;
                flex-direction: column;
              }
    
              .tecnologias-container {
                position: relative;
                left: -520px !important;
                top: 70px;
                margin-right: 150px !important;
                margin-bottom: 50px;
              }
              
              .text-main-tecnologias {
                font-size: 43px !important;
                width: 100%;
              }
    
              .responsive-about {
                margin: 0 !important;
              }
               
              .icons-media {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                gap: 1px;
                margin-left: -100px !important;
                margin-bottom: 20px;
                padding: 0;
              }
    
              .btn-cv {
                margin: 10px;
                padding: 5px 30px !important; 
            }
              
            .text-about {
              font-size: 16px;
              text-align: center;
              width: 350px !important;
              margin-left: calc((100% - 400px) / 2);
            }
    
    
            .text-hability {
              margin-left: 90px !important;
            }

              .skills  {
                display: grid;
                margin-left: 20px !important;
                grid-template-columns: repeat(2, 1fr);    
            }
    
            .hr-two {
                width: 300px !important;
                margin-left:60px !important;
            }
    
            .idiomas {
                gap: 0 !important;
                padding-right: 30px;
                padding-left: 30px;
                margin: 0;
                margin-left: 10px !important;
            }
            
            .btn {
              margin-top: 250px;
            }
        }
          
   
   
          @media only screen and (min-width: 601px) and (max-width: 701px) {
            .fondo-imagen {
                position: absolute;
                top: 100%;
                left: 0;
                width: 35%;
                height: 100%;
                margin-left: 50px;
                margin-top: 30px;
                background-size: cover;
                background-position: center;
                z-index: 1; 
              }
    
              .container {
                display: flex;
                flex-direction: column;
              }
    
              .tecnologias-container {
                position: relative;
                left: -585px !important;
                top: 70px;
                margin-right: 150px !important;
                margin-bottom: 50px;
              }
              
              .text-main-tecnologias {
                font-size: 45px !important;  
              }
    
              .responsive-about {
                margin: 0 !important;
              }
               
              .icons-media {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                gap: 1px;
                margin-left: -242px !important;
                padding: 0;
              }
    
              .btn-cv {
                margin: 10px;
                padding: 5px 25px; 
            }
              
            .text-about {
              font-size: 16px !important;
              text-align: center;
              width: 250px;
              margin-left: calc((100% - 430px) / 2) !important;
            }
    
              .content-texts {
                margin-left: 84px;
              }
    
    
              .skills  {
                display: grid;
                margin-left: -70px !important;
                grid-template-columns: repeat(2, 1fr);    
            }
    
            .hr-two {
                width: 300px !important;
                margin-left:60px !important;
            }
    
            .idiomas {
                gap: 0 !important;
                padding-right: 100px !important;
                padding-left: 40px !important;
                margin: 0;
                margin-left:-50px;
            }
        }
          
   
   
   
    @media only screen and (min-width: 601px) {
        .fondo-imagen {
            position: absolute;
            top: 100%;
            left: 0;
            width: 35%;
            height: 100%;
            margin-left: 50px;
            margin-top: 30px;
            background-size: cover;
            background-position: center;
            z-index: 1; 
          }

          .container {
            display: flex;
            flex-direction: column;
          }

          .tecnologias-container {
            position: relative;
            left: -465px;
            top: 70px;
            margin-right: 150px !important;
            margin-bottom: 50px;
          }
          
          .text-main-tecnologias {
            font-size: 35px;
            width: 100%;
          }

          .responsive-about {
            margin: 0 !important;
          }
           
          .icons-media {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            gap: 1px;
            margin-left: -52px;
            padding: 0;
          }

          .btn-cv {
            margin: 10px;
            padding: 5px 25px; 
        }
          
        .text-about {
          font-size: 16px;
          text-align: center;
          width: 250px;
          margin-left: calc((100% - 400px) / 2);
        }

          .content-texts {
            margin-left: 84px !important;
          }


          .skills  {
            display: grid;
            margin-left: -50px;
            grid-template-columns: repeat(2, 1fr);    
        }

        .hr-two {
            width: 300px !important;
            margin-left:60px !important;
        }

        .idiomas {
            gap: 0 !important;
            padding-right: 30px;
            padding-left: 30px;
            margin: 0;
            margin-left:-50px;
        }
    }



    @media only screen and (max-width: 600px) {
        .fondo-imagen {
            position: absolute;
            top:  95%;
            width: 77%;
            height: 50%;
            background-position: top !important;
            border-radius: 12.8rem;
            margin-bottom: 30px;
          }

          .tecnologias-container {
            display: flex;
            justify-content: center;
            margin-top: 350px;
            margin-left: -255px;
          }

          .text-main-tecnologias {
            font-size: 48px !important;
            display: flex;
            justify-content: center;
            margin-left: -475px;
            margin-bottom: 10px;
          }

          .strong-class { 
            white-space: nowrap;
            margin-left: 10px;
          }

          .icons-media {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-left: -200px;
            margin-bottom: 20px;
          }


          .responsive-about {
            margin: 0 !important;
          }
          
          .btn-cv {
            background-image: linear-gradient(to right, #330867  11%, #30cfd0   66%);
            margin: 10px;
            padding: 5px 20px;
            margin-left: 8px;
        }

          .content-texts {
            margin: 0 !important;
            margin-left: -200px !important;
          }

          .text-about {
            font-size: 16px !important;
            text-align: center;
            width: 250px;
            margin-left: calc((100% - 525px) / 2);
          }

          .text-hability {
            margin: 0;
            text-align: start;
            margin-left: 0px;
          }

          .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2px;
            padding-right: 180px;
            padding-left: 0px;     
        }

        .idiomas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: -100px; 
            gap: 0px;
        }

        .btn-two {
          margin-top: 280px;
        }
    }

