@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    .container {
        font-family: 'Rajdhani', sans-serif;
        margin-left: 240px;
    }

    .fondo-container {
        position: relative;
      }
      
      .fondo-imagen {
        position: absolute;
        top: 110%;
        left: 0;
        width: 35%;
        height: 100%;
        margin-left: 50px;
        margin-top: 20px;
        background-size: cover;
        background-position: center;
        z-index: 1; 
        border-radius: 5rem;
      }
      

    .text-main-tecnologias {
        margin-left: 550px;
        margin-bottom: 35px;
        font-size: 60px;
        text-align: start !important;
    }

    .strong-class {
        color: #30cfd0; 
        background-image: -webkit-linear-gradient(15deg,  #330867 44%, #30cfd0 66%);
        background-clip: text;
        -webkit-background-clip: text; 
        text-emphasis-color: transparent; 
        -webkit-text-fill-color: transparent 
    }

    .responsive-about {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1px;
        margin-left: 23px !important;
      }
      
      .icons-media {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top:10px;
        gap: 1px;
        margin-left: 553px;
      }

    .responsive-about  p {
        margin-bottom: 0;
     }
         
    .btn-cv {
            background-image: linear-gradient(to right, #330867  11%, #30cfd0   66%);
            border: 1px solid white;
            margin: 10px;
            padding: 7px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
            margin-left: 10px;
        }

     .btn-cv:hover {
            background-position: right center;
            color: #000000;
            text-decoration: none;
        }
         
        
        .skills {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1px;     
            width: 85%;
        }
          
          .skills div {
            text-align: center;
            font-size: 18px;
          }

          .idiomas {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;     
            width: 85%;
        }
          
          .idiomas div {
            text-align: center;
            font-size: 20px;
          }


          .responsive-about {
                display: flex;
                align-items: center;
                justify-content: start;
                margin-top: 10px;
                gap: 1px;
                margin-left: 553px; 
          }

    @media only screen and (max-width: 855px) {
        .fondo-imagen {
            position: absolute;
            top: 100%;
            left: 0;
            width: 35%;
            height: 100%;
            margin-left: 50px;
            margin-top: 30px;
            background-size: cover;
            background-position: center;
            z-index: 1; 
          }

          .container {
            display: flex;
            flex-direction: column;
          }

          .tecnologias-container {
            position: relative;
            left: -465px;
            top: 70px;
            margin-right: 150px !important;
          }

          .icons-media {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 40px;
            gap: 1px;
            margin-left: -465px;
          }
          
          .text-main-tecnologias {
            font-size: 45px;
            width: 100%;
          }

          .content-texts {
            margin-left: 84px !important;
          }

          .text-about {
            font-size: 16px !important;
          }

          .skills  {
            display: grid;
            margin-left: -50px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;     
        }

        .hr-two {
            width: 300px !important;
            margin-left:60px !important;
        }

        .idiomas {
            gap: 1px;
            margin-left:-50px;
        }
    }



    @media only screen and (max-width: 600px) {
        .fondo-imagen {
            position: absolute;
            top:  110%;
            width: 77%;
            height: 50%;
            background-position: top !important;
            border-radius: 12.8rem;
          }

          .tecnologias-container {
            display: flex;
            justify-content: center;
            margin-top: 250px;
          }

          .text-main-tecnologias {
            font-size: 35px;
            display: flex;
            justify-content: center;
            margin-left: 600px;
          }

          .strong-class { 
            white-space: nowrap;
            margin-left: 10px;
          }

          .icons-media {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            padding: 0;
          }


          .responsive-about {
            margin: 0 !important;
          }
          
          .btn-cv {
            background-image: linear-gradient(to right, #330867  11%, #30cfd0   66%);
            margin: 10px;
            padding: 5px 20px;
            margin-left: 8px;
        }

          .content-texts {
            margin: 0 !important;
            margin-left: -200px !important;
          }

          .text-about {
            font-size: 16px !important;
            text-align: center;
            width: 250px;
            margin-left: calc((100% - 525px) / 2);
          }

          .text-hability {
            margin: 0;
            text-align: start;
            margin-left: 0px;
          }

          .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2px;
            padding-right: 110px;
            padding-left: 30px;     
        }

        .idiomas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: -100px; 
        }

        .hr-two {
            margin-left: -38px !important;
        }
    }

