@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');

.font-write {
    font-family: 'Khand', sans-serif;
    font-size: 50px;
}

@media only screen and (min-width: 768px) {
    .content-write {
        width: 100%;
        margin: 0 auto;
        flex-direction: column !important;
        left: 0;
        top: 0;
    }

    .font-write {
      width: 20px !important;
    }
}
   /*  @media only screen and (min-width: 992px) {
        .font-write {
        margin-left: 30vw; 
      }
    }
  
    @media only screen and (min-width: 1200px) {
        .font-write {
          margin-left: 43vw;
        }
      }
    }

    @media only screen and (min-width: 1400px) {
      .font-write {
        margin-left: 55vw;
      }
    } */
  